
.side-bar{
   background-color: #fff;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   width: 150px;
   height: 100vh;
}
.logo img{
   width: 110px;
   margin-left: 15px;
   margin-top: 12px;
}
.links {
   margin-left: 30px;
   margin-top: 60px;
   
}
.user a{
   font-size: 15px;
   text-decoration: none;
   color: #000;
   font-family: sans-serif;
   font-weight: 500;
}
.dt-paging-button {
background-color: #007bff;
}
.user {
   margin-top: 50px ; 
}
.task{
   margin-top: 50px;
}
.task a{
   
   font-size: 15px;
   text-decoration: none;
   color: #000;
   font-family: sans-serif;
   font-weight: 500;
}
.user a:hover{
   color:  #007bff;
}
.task a:hover{
   color: #007bff;
}
.container-fluid{
   --bs-gutter-x: 0;
}
.heading h1{
   color: #007bff;
}
.heading h1 span{
   color: #88c343;
}
div.dt-container {

   margin-top: 30px;
}
label{
   margin-left: 15px;
}
.modal-footer{
display: flex;
justify-content: center;
align-items: center;
}
.modal-footer button{
   width: 100%;
}
.form-control{
   width: 100%;
   border: 1px solid black;
}
.task-detail{
   gap: 40px;
}

tr{
   box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;}
table {
   width: 100%;
   border-collapse: collapse;
   background-color: #fff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
   padding: 15px;
   text-align: left;
}

th {
   background-color: #f2f2f2;
}



button {
   background-color: #e74c3c;
   color: #fff;
   border: none;
   padding: 8px 16px;
   cursor: pointer;
   border-radius: 4px;
   transition: background-color 0.3s;
}

button:hover {
   background-color: #c0392b;
}


.head_btns{
   margin-top: 35px;
}

/* Custom DataTable styling */
.dataTables_wrapper {
   padding: 20px;
   background: #f9f9f9;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc, table.dataTable thead > tr > td.dt-orderable-asc, table.dataTable thead > tr > td.dt-orderable-desc {
   background-color: #007bff;
   cursor: pointer;
}

table.dataTable {
   border-collapse: collapse;
   width: 100%;
   background-color: white;
}

table.dataTable thead {
   background-color: #007bff !;
   color: white;
}

table.dataTable th, table.dataTable td {
   padding: 10px;
   text-align: left;
}

table.dataTable th {
   font-weight: bold;
}

table.dataTable tbody tr:nth-child(even) {
   background-color: #f2f2f2;
}

table.dataTable tbody tr:hover {
   background-color: #e0e0e0;
}

table.dataTable tbody td button {
   padding: 5px 10px;
}

div.dt-container .dt-paging .dt-paging-button.current, div.dt-container .dt-paging .dt-paging-button.current:hover {
   color: white !important;
  
   background-color: #007bff;
}
div.dt-container .dt-paging .dt-paging-button.disabled, div.dt-container .dt-paging .dt-paging-button.disabled:hover, div.dt-container .dt-paging .dt-paging-button.disabled:active {
   color: #007bff !important;
 
}